
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #01796f;
}

div.container {
    background-color: #ADEBB3;
    border-radius: 10px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  font-size: 20px;
}

#photo {
  object-fit: cover;
}

#pfp {
  object-fit: cover;
  object-position: 100% 70%; 
}

#headnav,
#headnav .container-fluid,
#headnav .navbar-collapse,
#headnav .navbar-nav,
#headnav .nav-item,
#headnav .navbar-toggler {
    background-color:  #001501;
    color:  #ffffff !important;
}

#headnav .navbar-brand {
    color:  #ffffff !important;
}

#headnav .nav-link {
    color:  #ffffff !important;
}
footer{
    background-color:  #001501;
    color:  #ffffff !important;
    padding: 10px 0;
    text-align: center;
}